{% extends "main/base.html" %}
{% load staticfiles %}
{% block header %}
{% include 'main/mega_dropdown.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">

<div id="fh5co-portfolio" style="min-height:600px">

            <div class="container-fluid">
                <div class="row" style="padding-bottom:50px;">

                    {% if not containers %}{% if not collection %}
                    <p class="text-center" style="margin-top:100px; margin-bottom:50px">We couldn't find any containers! Why don't you</p>
        
                    <!-- My Container Collections -->
                    {% if has_collections %}

                    <div class="col-lg-3 col-sm-6"></div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="card" id="new_collection">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <h4><a href="{% url 'my_container_collections' %}"></i> View My Collections</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" id="new_collection">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <h4><a href="{% url 'new_container_collection' %}"></i> Create a Collection</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}
                    <div class="col-lg-12 col-sm-6">
                        <div class="card" id="new_collection" style="max-width:300px; margin:auto;">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <h4><a href="{% url 'new_container_collection' %}"></i> Create a Collection</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    {% endif %}{% endif %}

               </div>
        </div>
    </div>



    </div>
</div>
{% endblock %}
