{% extends "main/base.html" %}
{% load staticfiles %}
{% block header %}
{% include 'main/mega_dropdown.html' %}
{% endblock %}
{% block css %}
<link rel='stylesheet prefetch' href="{% static "css/uikit.almost-flat.min.css"%}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="fh5co-portfolio" style="min-height:600px">
            <div class="container-fluid">
                <div class="row" style="padding-bottom:50px;">

                    {% if not collections %}
                    <p class="text-center" style="margin-top:100px; margin-bottom:50px">We couldn't find any collections! Why don't you</p>
        
                    <div class="col-lg-3 col-sm-6"></div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="card" id="new_collection">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <h4><a href="{% url 'new_container_collection' %}"></i> Create a Collection</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6"></div>

                    {% else %}
      
                    <div class="uk-container uk-container-center">
                        <h1 class="uk-margin-top">Container Collections</h1>

                        <!-- Filter Controls -->
                        <ul class="grid-filter uk-subnav uk-subnav-pill">
                            <li data-uk-filter="" class="uk-active"><a href="">All</a></li>
                            <!--<li data-uk-filter="box"><a href="">Tag</a></li>
                            <li data-uk-filter="box-primary"><a href="">Tag1</a></li>
                            <li data-uk-filter="box-secondary"><a href="">Tag2</a></li>-->
                        </ul>
                        <!--<ul class="grid-filter uk-subnav uk-subnav-pill">
                            <li data-uk-filter="" class="uk-active"><a href="">All</a></li>
                            <li data-uk-filter="badge"><a href="">Badge</a></li>
                            <li data-uk-filter="badge-warning"><a href="">Badge warning</a></li>
                            <li data-uk-filter="badge-danger"><a href="">Badge danger</a></li>
                        </ul>
                        <ul class="grid-filter uk-subnav uk-subnav-pill">
                            <li data-uk-filter="" class="uk-active"><a href="">All</a></li>
                            <li data-uk-filter="button"><a href="">Button</a></li>
                            <li data-uk-filter="button-primary"><a href="">Button primary</a></li>
                            <li data-uk-filter="button-success"><a href="">Button success</a></li>
                        </ul>-->

                        <!-- Dynamic Grid -->
                        <!--http://getuikit.com/docs/button.html-->
                        <div id="grid" class="uk-grid uk-grid-small uk-grid-width-1-3">
                            {% for collection in collections %}
                            <div data-uk-filter="box,badge,button">
                                <div class="uk-panel uk-panel-box"><!-- can add classes like uk-panel-box-primary-->                               <a><p class="collection" collection="{{ collection.id }}">{{ collection.name }}</p></a>{{ collection.description }}
                                    <!--<button class="uk-button">View</button>--> 
                                    <div class="uk-panel-badge uk-badge">{{ collection.owner }} | {{ collection.containers.count }}</div>
                                        <a><img class="collection" collection="{{ collection.id }}" src="http://api.adorable.io/avatars/50/{{ collection.id }}" style="float:right; border-radius:5px;"/></a>
                                </div>
                            </div>    
                            {% endfor %}
                         </div>
                     </div>
                    {% endif %}
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% if collections %}
<script src="{% static "js/uikit.js"%}"></script>
<script src="{% static "js/grid.js"%}"></script>

<script>

(function($, UI) {
  var controls, grid, filters;

  function filterGrid() {
    filters = [];
    controls.filter('.uk-active').each(function() {
      var filter = $(this).data('ukFilter');
      if (filter !== '') filters.push(filter)
    });
    grid.filter(filters.join(','));
  }

  UI.ready(function() {
    controls = $('[data-uk-filter]');
    grid = UI.grid('#grid', {gutter: 20});

    controls.on('click', function(e) {
      e.preventDefault();
      $(this).addClass('uk-active').siblings().removeClass('uk-active')
      filterGrid();
    });
    filterGrid();
       
  });
}(UIkit.$, UIkit));

// When collection is clicked, navigate to page
$(".collection").click(function(){
    var id = $(this).attr("collection")
    document.location = "/collections/containers/" + id
});
</script>
{% endif %}
{% endblock %}
