{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block header %}
{% include 'main/mega_dropdown.html' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "css/material-table.css"%}">
{% endblock%}

{% block content %}
<div id="fh5co-portfolio">
    {% if messages %}
    <!-- Error messages for container uploads will be added here-->
    <ul class="row">
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} style="border-radius:5px; max-width: 900px;" class="{{ message.tags }} alert alert-warning"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </ul>
<div class="row">
    <div class="col-md-8">
        <div class="card" style="padding:20px">
            <div class="header" style="padding-bottom:50px">
                <h3 class="title">{{ collection.name }}</h3>
            </div>
            <div class="content" style="min-height:200px">
                <div data-background-color="white" data-active-color="danger">
                     <p style="padding-left:30px">{{ collection.description }}</p>
                </div>

                {% if containers %}
                <div class="card material-table">
                   <div class="table-header">
                       <span class="table-title">Containers</span>
                           <div class="actions">
                               <a href="#add_users" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">person_add</i></a>
                               <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                           </div>
                   </div>
                   <table id="datatable">
                       <thead>
                           <tr>
                               <th>Name</th>
                               <th>Description</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for container in containers %}
                           <tr>
                               <td>{{ container.name }}</td>
                               <td>{{ container.description }}</td>
                           </tr>
                           {% endfor %}
                       </tbody>
                    </table>
                </div>
                <div class="footer">
                    <div class="chart-legend" style="margin-left:20px">
                        <i class="fa fa-circle text-success"></i> Optimal
                        <i class="fa fa-circle text-danger"></i> Error
                        <i class="fa fa-circle text-warning"></i> Warning
                    </div>
                    <hr>
                    <div class="stats" style="margin-left:20px">
                        <i class="ti-reload"></i> Updated 3 minutes ago
                    </div>
                </div>
            {% else %}
            
            <!-- No containers! Tell the user to add one -->
            <div class="col-lg-8 col-sm-6">
                <div class="card" id="new_container" style="max-width:300px;">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h4><a href="{% url 'new_container' collection.id %}"></i> Add a container</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>    
    </div>
    <div class="col-md-4">
            <div class="card" style="padding:20px;">
            <div class="header">
                <h3>
                     <span class="icon-controls" style="position:relative;top:-10px">
                         <a href=""><i class="ti-download"></i></a><br>
                         <a href=""><i class="ti-share"></i></a>
                     </span>
                </h3>
                <img src="http://api.adorable.io/avatars/270/{{ collection.id }}" style="position:relative;top:-30px;border-radius:5px"/>
            </div>

            </div>
    </div>
</div>      
<div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Workflows</h4>
                    <p class="category">Lastest running workflows</p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                <div class="footer">
                    <div class="chart-legend"  style="margin-left:20px">
                        <i class="fa fa-circle text-success"></i> Finished
                        <i class="fa fa-circle text-danger"></i> Error
                        <i class="fa fa-circle text-warning"></i> Running
                    </div>
                    <hr>
                    <div class="stats"  style="margin-left:20px">
                        <i class="ti-timer"></i> Last run 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="header">
                <h4 class="title">Projects</h4>
                <p class="category">Links back to this container</p>
            </div>
            <div class="content">
                <div id="chartActivity" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend"  style="margin-left:20px">
                            <i class="fa fa-circle text-info"></i> Public
                            <i class="fa fa-circle text-warning"></i> Private
                        </div>
                        <hr>
                        <div class="stats"  style="margin-left:20px">
                            <i class="ti-check"></i> Data information certified
                        </div>
                    </div>
                 </div>
             </div>
         </div>
         <div class="footer">
             <hr>
         </div>
     </div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "js/materialize.min.js"%}"></script>
<script src="{% static "js/material.datatables.js"%}"></script>
{% endblock %}
